[Unit]
Description=BHL-to-AWS S3 Sync Queue Monitor
Documentation=https://github.com/gbhl/aws-s3-sync
After=network-online.target rabbitmq-server.service
Wants=network-online.target rabbitmq-server.service

[Service]
Type=simple
User=USERNAME
group=GROUPNAME
WorkingDirectory=/PATH/TO/INSTALL/aws-s3-sync
ExecStart=/PATH/TO/INSTALL/venv/bin/python monitor-queue.py
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bhl-aws-sync

[Install]
WantedBy=multi-user.target
