boto3==1.42.21
botocore==1.42.21
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
configparser==7.2.0
DateTime==6.0
idna==3.11
internetarchive==5.7.1
jmespath==1.0.1
jsondiff==2.2.1
jsonpatch==1.33
jsonpointer==3.0.0
popLines==2.1.1
pycparser==2.23
python-dateutil==2.9.0.post0
pytz==2025.2
pyvips==3.1.1
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
toml==0.10.2
tqdm==4.67.1
urllib3==2.6.2
Wand==0.7.0
zope.interface==8.1.1
